* {
  font-family: helvetica;
}

header {
  background-color: skyblue;
  border: 1px solid black;
}

article {
  background-color: pink;
  border: 1px solid black;
}

.column-1 {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* width: 48%; */
  float: left;
  width: 50%;
}

.column-2 {
  /* display: inline-block; */
  /* vertical-align: top; */
  /* width: 48%; */
  float: right;
  width: 50%;
}

footer {
  clear: both;
  background-color: skyblue;
  border: 1px solid black;
}
 